* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif !important;
  letter-spacing: 0em !important;
}
img {
  width: 100%;
  height: auto;
}
.nav-link {
  color: #000 !important;
  font-size: 20px !important;
}
.navbar-nav .dropdown-menu {
  position: absolute !important;
}
h1 {
  font-size: 38px !important;
  font-weight: 500 !important;
  line-height: 46px !important;
}
p {
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 19px !important;
  letter-spacing: 0em !important;
}
.font-bold {
  font-weight: 600 !important;
}

a {
  text-decoration: none !important;
}
.bg-none {
  background: none !important;
}
.page-title {
  line-height: 46px;
  font-size: 32px;
  font-weight: 500;
}
.section-heading {
  font-size: 28px !important;
  font-weight: 600 !important;
  line-height: 33px !important;
  letter-spacing: 0em !important;
}
.header-logo {
  line-height: 46px !important;
  font-size: 40px !important;
}
@media (max-width: 600px) {
  .header-logo {
    line-height: 38px !important;
    font-size: 30px !important;
  }
}
@media (max-width: 350px) {
  .header-logo {
    line-height: 32px !important;
    font-size: 26px !important;
  }
  .home-header-content {
    font-size: 16px !important;
  }
}
